<h1>Search Result</h1>

<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_coffee.empty? %>
  <p>No Records Found</p>
<% else %>
  <% @search.search_coffee.each do |c| %>
    <br>
    
    <div class="div">
        <h1><%= c.title %></h1>
        <p>Price: $<%= c.price %></p>
    </div>
  <% end %>
<% end %> 